.opportunity-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#table-header {
  background-color: var(--primary-color-dark);
}
.opportunity-container:nth-child(even) {
  background-color: var(--primary-color);
}
.opportunity-container:nth-child(odd) {
  background-color: var(--primary-color-light);
}

.opportunity-container .opportunity-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  flex: 1;
}

.opportunity-info a {
  color: black;
}

#delete-btn {
  flex: 0.2;
}
