.opportunity-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}
#table-header {
  background-color: var(--primary-color-dark);
  width: 100%;
}
.opportunity-container:nth-child(even) {
  background-color: var(--primary-color);
}
.opportunity-container:nth-child(odd) {
  background-color: var(--primary-color-light);
}

.opportunity-container .opportunity-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  flex: 1;
}

.opportunity-container:not(#table-header):hover {
  transform: scale(1.005);
  z-index: 1;
  /* box-shadow: 2px 2px 2px #000; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.opportunity-info a {
  color: black;
}

.opportunity-info a:hover {
  color: white;
  /* color: var(white); */
}

#delete-btn {
  flex: 0.2;
}
